.main_inner{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav
===================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: color .2s linear ;
    color: #fff;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #FAB915;
}

/* Burger */
.burger {
    display: none;
    padding: 9px 2px;
    outline: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    height: 100%;

    background-color: #fff;

    position: absolute;
    right: 0;
    z-index: 1;
}

.burger__item:before {
    width: 30px;
    top: -8px;
}

.burger__item:after {
    width: 30px;
    bottom: -8px;
}

.display_none{
    display: none;
}



/* MEDIA
==============*/

@media (max-width: 991px) {

    .nav{
        display: none;
    }

    .burger{
        display: inline-block;
    }
}
